.pagina-ambientes {
  display: flex;
  min-height: 100vh;
  background-color: #f0f4f8;
  font-family: Arial, sans-serif;
}

/* Barra lateral */
.barra-lateral {
  width: 60px;
  background-color: #0e1a2b;
  flex-shrink: 0;
}

/* Conteúdo principal, com estilo de card */
.conteudo-ambientes {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;

}

/* Cabeçalho do conteúdo de ambientes */
.cabecalho-ambientes {
  text-align: left;
  margin-bottom: 1.5rem;
}

.cabecalho-ambientes h1 {
  font-size: 1.8rem;
  margin: 0;
  color: #0e1a33;
  font-weight: bold;
}

/* Filtro de input */
.filtro-input-ambientes {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.icon-pesquisa-ambientes {
  position: absolute;
  right: 1160px;
  top: 26%;
  transform: translateY(-50%);

  color: #0e1a33;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 100%;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  box-sizing: content-box;
  z-index: 1;
}

.btn-novo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #0e1a33;
  color: #fff;
  padding: 0.6rem 1rem;
  border: none;
  border-Radius: 5px;
  font-Weight: bold;
  cursor: pointer;
}

/* Tabela de ambientes */
.tabela-ambientes table {
  width: 100%;
  border-collapse: collapse;

  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para cabeçalhos da tabela */
.tabela-ambientes th {
  background-color: #e5e7eb;
  color: #444;
  font-weight: bold;
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #eee;
  border: 1px solid #d1d5db;
}

/* Estilo para células de dados da tabela */
.tabela-ambientes td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #eee;
  border: 1px solid #d1d5db;
  font-weight: normal;
}

/* Estilo para linhas pares da tabela */
.tabela-ambientes tr:nth-child(even) {
  background-color: #f9fafb;
}

.btn-acao:hover {
  transform: scale(1.1);
}


.btn-acao.editar {
  color: #f39c12;
}

.btn-acao.excluir {
  color: #e74c3c;
}
