
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o container principal ocupe pelo menos a altura da viewport */
}


.main-content-wrapper {
    display: flex;
    flex: 1; /* Faz com que esta div ocupe todo o espaço vertical disponível */
}

/* O componente Lateral já tem seus próprios estilos, mas esta classe define o contêiner do conteúdo da página */
.page-content {
    flex: 1; /* Faz com que o conteúdo da página ocupe o restante do espaço horizontal */
    padding: 0; /* O padding de cada página individual será aplicado no seu próprio CSS */
    display: flex; /* Permite que o conteúdo interno da página use flexbox se desejar */
    flex-direction: column; /* Organiza o conteúdo da página verticalmente */
}

