
.pagina-localizacao {
  display: flex;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f4f8;
}
/* Container do mapa com borda e sombra */
.map-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 1500px;

}
.content {
  flex: 1;
  padding: 2rem;
}

.content h1 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
 iframe{
  width: 100%;
  height: 600px;
 }